@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.7;
}

.card {
  background-color: rgba(65, 63, 63, 0.465);
  border-radius: 15px;
  padding: 40px 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}

.btn-container button {
  background-color: #cc9900;
  color: #fff;
  border: 0;
  border-radius: 8px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  margin-left: 12%;
  margin-top: 1%;
  font: inherit;
}

.btn-container button:hover,
.btn-container button:active {
  background-color: #ddb12b;
  border-color: #ddb12b;
}

.btn-detail button {
  border: 0;
  width: 130px;
  height: 40px;
  margin: 1%;
  font: inherit;
  cursor: pointer;
  background-color: #819c39;
  color: white;
  border-radius: 12px;
}

.img {
  margin: auto;
  display: block;
}

.detail {
  background-color: #100c08;
  padding: 1rem;
  margin: 2rem auto;
  width: 70rem;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0);
  color: white;
}

.detail button:hover,
.detail button:active {
  background-color: #94b23f;
  border-color: #94b23f;
}

.tea-list {
  background-color: #100c08;
  padding: 1rem;
  margin: 2rem auto;
  width: 70rem;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}
